nav{
	color:white;
	background-color: darkred;

}
nav a{
	color:white;
	text-decoration: none;
	font-size: 1.5em;
}
nav .course-listing{
	float:right;
	line-height: 1.75em;
}
.subtitle{
	color:white;
	background-color: black;
	margin: 0;
}
.subtitle input[type="text"], .subtitle button[type="button"]{
	float:right;
}
.subtitle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subtitle li {
    float: left;
}

.subtitle li div {
    display: block;
    padding: 8px;
}