body{
    background-color: lightgray;
    margin:0;
}
nav{
    color:white;
    background-color: darkred;

}
nav a{
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}
nav .nav-container{
    padding: 0.5em;
}
nav .course-listing{
    float:right;
}
nav .university-name{
    font-size: 1.5em;
}
.subtitle{
    color:white;
    background-color: black;
    margin: 0;
    width: 100%;
    height: 20px;
}
#content{
    height: 200px;
    width: 100%;
    background-color: lightgrey;
}
.right {
    float:right;
    padding-right:0.5em;
}
.subtitle ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subtitle li {
    float: left;
}

.subtitle li div {
    display: block;
    padding: 8px;
}
footer {
    background-color: gray;
    color:white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
}
footer .copyright{
    float:right;
}
th{
    color:white;
    background-color: grey;
}